---
layout: default
---


<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
		<script data-ad-client="ca-pub-9708717525648463" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
		
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-JDHGHGK73N"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'G-JDHGHGK73N');
			</script>
		
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
			
				
                <section>
					<img src="/images/picture.png" alt="" width="250" height="250" id="hp"/>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <p>{{ site.footer.github }}</p>
                </section>
                <section>
                    <h2> </h2>
                    <div class="ad">
						<a href="https://www.amazon.com/Sony-Mirrorless-Camera-16-50mm-ILCE6100L/dp/B07X71JK4L?dchild=1&keywords=sony%2Balpha&qid=1613002234&sr=8-9&th=1&linkCode=li1&tag=theadvent0647-20&linkId=b6389b63828816fc23c22ef3067f4aaa&language=en_US&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B07X71JK4L&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=theadvent0647-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=theadvent0647-20&language=en_US&l=li1&o=1&a=B07X71JK4L" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
						<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=theadvent0647-20&language=en_US&marketplace=amazon&region=US&placement=B004AH10K8&asins=B004AH10K8&linkId=3315b8fb218dabf730bd8884c13f5721&show_border=true&link_opens_in_new_window=true"></iframe>
						<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=theadvent0647-20&language=en_US&marketplace=amazon&region=US&placement=B01NASPXSR&asins=B01NASPXSR&linkId=d3799d43d151cee6aacf63ab062ad03a&show_border=true&link_opens_in_new_window=true"></iframe>
						<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=theadvent0647-20&language=en_US&marketplace=amazon&region=US&placement=B005K1Y2GC&asins=B005K1Y2GC&linkId=9bab4eeffbd52748a73ff01a35fba39a&show_border=true&link_opens_in_new_window=true"></iframe>
						
                    </div>
                </section>
                <section>
                    <h2></h2>
                    <ul class="icons">
                        {% if site.social_urls.facebook %}
                            <li>
                                <a href="{{ site.social_urls.facebook }}" class="icon fa-facebook">
                                    <span class="label">Facebook</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.twitter %}
                            <li>
                                <a href="{{ site.social_urls.twitter }}" class="icon fa-twitter">
                                    <span class="label">Twitter</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.instagram %}
                            <li>
                                <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram">
                                    <span class="label">Instagram</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.dribbble %}
                            <li>
                                <a href="{{ site.social_urls.dribbble }}" class="icon fa-dribbble">
                                    <span class="label">Dribbble</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.github %}
                            <li>
                                <a href="{{ site.social_urls.github }}" class="icon fa-github">
                                    <span class="label">GitHub</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.linkedin %}
                            <li>
                                <a href="{{ site.social_urls.linkedin }}" class="icon fa-linkedin">
                                    <span class="label">LinkedIn</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}
                </p>
            </div>
        </div>
    </footer>
</div>
